<h1>Editing Wanted Person</h1>

<%= render 'form', wanted_person: @wanted_person %>

<%= link_to 'Show', @wanted_person, class: "btn btn-primary" %> |
<%= link_to 'Back', wanted_people_path, class: "btn btn-primary" %>
