.thumbnail {
  width: 200px auto;
  height: 200px;
  border: groove;
  border-radius: 5px;
  padding-left: 20px;
}

.report-link {
  position: absolute;
  // left: 10px;
  top: 155px;
}

.report-image {
  align-content: left;
}